{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <section class="container">
        <div class="pageHeader" style="background-image: url({{ asset('images/content/home.jpg')}});">
        </div>
        <div class="homeGrid">
            <div class="mainItem clear"><!-- mainItem mainItemRight clear  - Reverse  -->
                <div class="mainItemImg">
                    <img src="{{ asset('images/content/empresa-home.jpg')}}" alt="">
                </div>
                <div class="mainItemDesc">
                    <h3>{% trans %}inicio_nosotros_title{% endtrans %}</h3>
                    {% trans %}inicio_nosotros_description{% endtrans %}

                    <a href="{{ path('site_nosotros')}}">
                        <span class="viewMore">ver más
                            <i class="viewMore">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" width="9px" height="15px" viewBox="0 0 9 15" enable-background="new 0 0 9 15" xml:space="preserve">
                                    <path fill="#96e9d5" d="M10-184.5l-0.826 0.757L1.826-177L1-177.758l7.349-6.742L1-191.243L1.826-192l7.349 6.743L10-184.5z M9.174-183.743L9.174-183.743L10-184.5L9.174-183.743z M9.175-185.257L10-184.5v0L9.175-185.257z"/>
                                    <path fill="#96e9d5" d="M9 7.5L8.174 8.257L0.826 15L0 14.242L7.349 7.5L0 0.757L0.826 0l7.349 6.743L9 7.5z M8.174 8.3 L8.174 8.257L9 7.5L8.174 8.257z M8.175 6.743L9 7.5v0L8.175 6.743z"/>
                                </svg>
                            </i>
                        </span>
                    </a>
                </div>
            </div>
      {% if files[0] is defined %}
        <div class="gridItemWrapLeft">
					<a href="javascript:void(0)" class="gridItemVideo clear" style="cursor:default;">
						<div class="gridItemImg">
              <img alt="{{ files[0].fileName }}" src="{{ files[0].pathName | mImage(750, 350, 'rce') }}" />
						</div>
					</a>
				</div>
      {% endif %}
      {% if files[1] is defined %}
				<div class="gridItemWrapRight">
					<a href="javascript:void(0)" class="gridItemVideo clear" style="cursor:default;">
						<div class="gridItemImg">
              <img alt="{{ files[1].fileName }}" src="{{ files[1].pathName | mImage(750, 350, 'rce') }}" />
						</div>
					</a>
				</div>
      {% endif %}
			<div class="gridItemWrap gridItemWhite clear">
        {% if files[2] is defined %}
				<a href="javascript:void(0)" class="gridItem clear">
					<div class="gridItemImg">
            <img alt="{{ files[2].fileName }}" src="{{ files[2].pathName | mImage(400, 400, 'rce') }}" />
					</div>
          {% if files[3] is defined %}
					<div class="gridItemImg">
						<img alt="{{ files[3].fileName }}" src="{{ files[3].pathName | mImage(400, 400, 'rce') }}" />
					</div>
          {% endif %}
				</a>
        {% endif %}
        {% if files[4] is defined %}
				<a href="javascript:void(0)" class="gridItem clear">
					<div class="gridItemImg">
            <img alt="{{ files[4].fileName }}" src="{{ files[4].pathName | mImage(400, 400, 'rce') }}" />
					</div>
          {% if files[5] is defined %}
					<div class="gridItemImg">
						<img alt="{{ files[5].fileName }}" src="{{ files[5].pathName | mImage(400, 400, 'rce') }}" />
					</div>
          {% endif %}
				</a>
        {% endif %}
			</div>
		</div>

  </div>
<div class="blogPosts">

			<div class="blockTitle">{% trans %}inicio_productos_title{% endtrans %}</div>
			<div class="blogPostWrap">
        {% for product in products %}
        <div class="postItem">
            <h4><a href="{{ path('site_producto', {'slug' : product.slug }) }}">{{ product.name }}</a></h4>
            <p>{{ product.shortDescription }}</p>
        </div>
        {% endfor %}
			</div>

		</div>
        <div class="homeGrid">
            <div class="mainItem clear"><!-- mainItem mainItemRight clear  - Reverse  -->
                <div class="mainItemImg">
                    <img src="{{ asset('images/content/map-home.jpg')}}" alt="">
                </div>
                <div class="mainItemDesc mainItemDesc-contacto">
                    <h3>contacto</h3>
                    <div class="contact-block">
                        <img src="{{ asset('/images/marker.png')}}">
                            <h3>dirección</h3>
                            <span>Dr.A.Gallinal 1890</span>
                    </div>
                    <div class="contact-block">
                        <img src="{{ asset('/images/tel.png')}}">
                            <h3>teléfono</h3>
                            <span>(+598) 2619 1877 | 2613 2152</span>
                    </div>
                    <div class="contact-block">
                        <img src="{{ asset('/images/mail.png')}}">
                            <h3>mail</h3>
                            <span><a href="mailto:info@ventanal.com.uy">info@ventanal.com.uy</a></span>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block stylesheets %}

{% endblock %}
